input[type=text]
{
	border: none;
	background-color: #9600e0;
  	color: white;
  	font-weight: bold; 
  	padding: 2pt 2pt 2pt 2pt;
  	margin-bottom: 3pt;
}

input[type=text]::placeholder
{
	color: #ffffffAA;
	font-weight: normal;
}

input[type=text]:focus
{
	outline: none;
}

input[name="new-digit"]::placeholder
{
	text-align: center;
}